### Práctica de Acceso a bases de datos

Considerar una base de datos sobre diferentes índices bursátiles formada por las siguientes tablas:

__Tabla "Datos generales"__:

* Ticker (Valor único) Cadena	
* Nombre Cadena	
* Índice Cadena	
* País Cadena		

__Tabla "IBEX35"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "DAX30"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "NASDAQ100"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "FTSE_MIB"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "SemanalesIBEX35"__:

* Ticker (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Fecha Cadena
* Price Decimal
* Low Decimal
* High Decimal

Los datos de las tablas se encuentran en los archivos csv "Tabla1.csv", "Tabla2(IBEX35).csv", "Tabla3(DAX30).csv", "Tabla4(Nasdaq 100).csv", "Tabla5(Ftse Mib).csv" y "Tabla6(SemanalesIBEX35).csv".La tabla 1 contiene datos identificativos de cada acción, las tablas 2-5 son los resultados de la cotización el día 5 de octubre de 2022, y la tabla 6 son datos históricos de las acciones del IBEX35.

Se pide:
1.  Hacer una función que cree la base de datos "Bolsa" con sus tablas y datos correspondientes. Para ello habrá que procesar los archivos csv proporcionados. Tomar las decisiones necesarias para relacionar adecuadamente las tablas, así como restricciones en cuanto a unicidad o tipos de datos. Igualmente procesad adecuadamente el campo fecha de la tabla "SemanalesIBEX35" para poder utilizarlo en las consultas (3 puntos).

2.  Resolver las siguientes consultas(7 puntos):

  >2.1. Considerar la máxima diferencia entre el valor máximo y el valor mínimo de las acciones de todos los índices. Mostrar el nombre de la/s acción/es cuya diferencia alcanza ese valor, el nombre del índice al que pertenece y el valor de la diferencia tomada.

  >2.2. Obtener la suma de los volúmenes negociados agregados por el índice al que pertenecen y ordenados de mayor a menor. Se mostrará el nombre del índice, el país al que pertenece y la suma de los volúmenes del índice.

  >2.3. Obtener aquellas acciones cuyo variación entre el máximo y el mínimo en la jornada del 5 de octubre fue menor que la variación entre el valor low y high en la serie histórica. Mostrar el nombre de la acción y las diferencias.

  >2.4. Obtener la media de los valores de las acciones de la serie histórica del IBEX35 ordenadas decrecientemente por la media de los valores.

  >2.5. Obtener la acción que más valió y más volumen de títulos negoció en la jornada del 5 de octubre. Mostrar el nombre de la acción, el índice al que pertenece y el país.

  >2.6. Obtener las diferencias de precio entre cada par de acciones en la serie histórica del IBEX35 por fecha. Mostrar el nombre de las accciones, la fecha y la diferencia de valor ordenadas decrecientemente por la fecha.

  >2.7. ¿En que fecha de la serie histórica del IBEX35 hubo más acciones donde la diferencia entre el valor máximo y el precio final fue 0?
  Mostrar los nombres de las acciones y la fecha.
  
#### Normas de entrega

* Fecha tope de entrega: 13/10/2022
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.


__Tabla "IBEX35"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

In [2]:
import sqlite3
import os

#Eliminar base de datos si ya existe antes de ejecutar este código (si no da error de que ya existe)

def login(dbfile):
    conn = sqlite3.connect(dbfile)
    curs = conn.cursor()

    return conn, curs

def load1(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     tkr text PRIMARY KEY,
                     precio real NOT NULL,
                     var_p real NOT NULL,
                     var_e real NOT NULL,
                     max_v real NOT NULL,
                     min_v real NOT NULL,
                     vol integer NOT NULL);
     """)

    rows = [line.rstrip().split(';') for line in file.readlines()[1:]] # [[x,x,x], [x,x,x]]
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute('insert into ' + table + ' values ' + recstr)

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()


def load2(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     tkr text PRIMARY KEY,
                     nombre text NOT NULL,
                     indice text NOT NULL,
                     pais text NOT NULL);
     """)
    
    rows = [line.rstrip().split(';') for line in file.readlines()[1:]] # [[x,x,x], [x,x,x]]
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute('insert into ' + table + ' values ' + recstr)

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()

def load3(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     id integer PRIMARY KEY,
                     tkr text NOT NULL,
                     fecha text NOT NULL,
                     precio real NOT NULL,
                     low real NOT NULL,
                     high real NOT NULL);
     """)
    column_names = str(tuple(file.readline().rstrip().split(';')))
    rows = [line.rstrip().split(';') for line in file.readlines()] # [[x,x,x], [x,x,x]]

    for row in rows: 
        row[1] = row[1].split(" ")[0]
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute(f'insert into {table}{column_names} values {recstr}')

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()

conn, curs = login("db.sqlite3")
load1(curs, "IBEX35", "Tabla2(IBEX35).csv", conn)
load1(curs, "DAX30", "./Tabla3(DAX 30).csv", conn)
load1(curs, "Nasdaq100", "./Tabla4(Nasdaq 100).csv", conn)
load1(curs, "FtseMib", "./Tabla5(Ftse Mib).csv", conn)

load2(curs, "Datos", "./Tabla1.csv", conn)

load3(curs, "SemanalesIBEX35", "./Tabla6(SemanalesIBEX35).csv", conn)

OperationalError: table IBEX35 already exists

In [6]:
# Consulta 1
# Considerar la máxima diferencia entre el valor máximo y el valor mínimo de las acciones de todos los índices.
# Mostrar el nombre de la/s acción/es cuya diferencia alcanza ese valor, el nombre del índice al que pertenece 
# y el valor de la diferencia tomada.

conn, cur = login("db.sqlite3")
consulta1 = """ SELECT  tkr, indice, MAX(max_v-min_v) FROM
                    Datos JOIN
                        (SELECT tkr AS indices_tkr, max_v, min_v FROM 
                            (SELECT * FROM DAX30 
                            UNION SELECT * FROM FtseMib 
                            UNION SELECT * FROM IBEX35 
                            UNION SELECT * FROM Nasdaq100))
                    ON Datos.tkr = indices_tkr"""
cur.execute(consulta1)
for nombre, indice, valor in cur.fetchall():
    print (f"Nombre: {nombre}\n Índice: {indice}\n Valor: {valor}")


cur.close()

Nombre: INTU
 Índice: Nasdaq 100
 Valor: 412.65

In [4]:
# Consulta 4
#Obtener la media de los valores de las acciones de la serie histórica del IBEX35 ordenadas decrecientemente por la media de los valores

curs.execute("""SELECT nombre, round(AVG(precio), 2) AS Media
FROM SemanalesIBEX35 s JOIN Datos d ON s.tkr==d.tkr
GROUP BY s.tkr
ORDER BY Media DESC;""").fetchall()

[('ACCIONA', 173.29),
 ('AENA', 135.06),
 ('PHARMA MAR', 62.08),
 ('LABORATORIOS FARMACEUTICOS ROV', 60.1),
 ('AMADEUS', 56.37),
 ('CELLNEX TELECOM', 42.94),
 ('CRP ACC ENER RN BR', 33.75),
 ('NATURGY ENERGY', 26.08),
 ('ARCELORMITTAL', 25.92),
 ('FLUIDRA', 24.88),
 ('FERROVIAL', 24.73),
 ('INDITEX', 24.02),
 ('ACS', 22.78),
 ('ENAGAS', 19.24),
 ('ENDESA', 18.49),
 ('SOLARIA ENERGIA Y MEDIO AMBIEN', 18.39),
 ('RED ELECTRICA', 17.82),
 ('SIEMENS GAMESA', 17.65),
 ('GRIFOLS CL.A', 15.67),
 ('REPSOL', 11.67),
 ('ACERINOX SA', 9.88),
 ('IBERDROLA', 9.63),
 ('MERLIN PROPERTIES', 9.24),
 ('INDRA SISTEMAS', 8.92),
 ('INMOBILIARIA COLONIAL', 6.92),
 ('MELIA HOTELS', 5.86),
 ('BANKINTER', 4.61),
 ('BANCO DE BILBAO VIZCAYA', 4.55),
 ('TELEFONICA', 3.65),
 ('CAIXABANK', 2.51),
 ('BANCO SANTANDER', 2.41),
 ('SACYR VALLEHERMOSO', 1.98),
 ('IAG GROUP', 1.06),
 ('MAPFRE', 1.02),
 ('BANCO DE SABADELL', 0.0)]

In [5]:
#Consulta 5
#Obtener la acción que más valió y más volumen de títulos negoció en la jornada del 5 de octubre. Mostrar el nombre de la acción, el índice al que pertenece y el país.
#TODO

curs.execute("""SELECT max(max_vol)
                FROM (SELECT max(vol) as max_vol
                        FROM IBEX35
                        UNION
                        SELECT max(vol)
                        FROM DAX30
                        UNION
                        SELECT max(vol)
                        FROM Nasdaq100
                        UNION
                        SELECT max(vol)
                        FROM FtseMib);""").fetchone()[0]

#curs.close()

98458233