### Práctica de Acceso a bases de datos

Considerar una base de datos sobre diferentes índices bursátiles formada por las siguientes tablas:

__Tabla "Datos generales"__:

* Ticker (Valor único) Cadena	
* Nombre Cadena	
* Índice Cadena	
* País Cadena		

__Tabla "IBEX35"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "DAX30"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "NASDAQ100"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "FTSE_MIB"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

__Tabla "SemanalesIBEX35"__:

* Ticker (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Fecha Cadena
* Price Decimal
* Low Decimal
* High Decimal

Los datos de las tablas se encuentran en los archivos csv "Tabla1.csv", "Tabla2(IBEX35).csv", "Tabla3(DAX30).csv", "Tabla4(Nasdaq 100).csv", "Tabla5(Ftse Mib).csv" y "Tabla6(SemanalesIBEX35).csv".La tabla 1 contiene datos identificativos de cada acción, las tablas 2-5 son los resultados de la cotización el día 5 de octubre de 2022, y la tabla 6 son datos históricos de las acciones del IBEX35.

Se pide:
1.  Hacer una función que cree la base de datos "Bolsa" con sus tablas y datos correspondientes. Para ello habrá que procesar los archivos csv proporcionados. Tomar las decisiones necesarias para relacionar adecuadamente las tablas, así como restricciones en cuanto a unicidad o tipos de datos. Igualmente procesad adecuadamente el campo fecha de la tabla "SemanalesIBEX35" para poder utilizarlo en las consultas (3 puntos).

2.  Resolver las siguientes consultas(7 puntos):

  >2.1. Considerar la máxima diferencia entre el valor máximo y el valor mínimo de las acciones de todos los índices. Mostrar el nombre de la/s acción/es cuya diferencia alcanza ese valor, el nombre del índice al que pertenece y el valor de la diferencia tomada.

  >2.2. Obtener la suma de los volúmenes negociados agregados por el índice al que pertenecen y ordenados de mayor a menor. Se mostrará el nombre del índice, el país al que pertenece y la suma de los volúmenes del índice.

  >2.3. Obtener aquellas acciones cuyo variación entre el máximo y el mínimo en la jornada del 5 de octubre fue menor que la variación entre el valor low y high en la serie histórica. Mostrar el nombre de la acción y las diferencias.

  >2.4. Obtener la media de los valores de las acciones de la serie histórica del IBEX35 ordenadas decrecientemente por la media de los valores.

  >2.5. Obtener la acción que más valió y más volumen de títulos negoció en la jornada del 5 de octubre. Mostrar el nombre de la acción, el índice al que pertenece y el país.

  >2.6. Obtener las diferencias de precio entre cada par de acciones en la serie histórica del IBEX35 por fecha. Mostrar el nombre de las accciones, la fecha y la diferencia de valor ordenadas decrecientemente por la fecha.

  >2.7. ¿En que fecha de la serie histórica del IBEX35 hubo más acciones donde la diferencia entre el valor máximo y el precio final fue 0?
  Mostrar los nombres de las acciones y la fecha.
  
#### Normas de entrega

* Fecha tope de entrega: 13/10/2022
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.


__Tabla "IBEX35"__:

* TKR (Valor único y hace referencia al campo Ticker de la tabla Datos generales)  Cadena	
* Precio Decimal
* Var.(%) Decimal
* Var.(€) Decimal
* Máx. Decimal
* Mín. Decimal
* Volumen Entero

In [11]:
import sqlite3
import os

def login(dbfile):
    conn = sqlite3.connect(dbfile)
    curs = conn.cursor()

    return conn, curs

def load1(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     tkr text PRIMARY KEY,
                     precio real NOT NULL,
                     var_p real NOT NULL,
                     var_e real NOT NULL,
                     max_v real NOT NULL,
                     min_v real NOT NULL,
                     vol integer NOT NULL);
     """)

    rows = [line.rstrip().split(';') for line in file.readlines()[1:]] # [[x,x,x], [x,x,x]]
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute('insert into ' + table + ' values ' + recstr)

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()


def load2(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     tkr text PRIMARY KEY,
                     nombre text NOT NULL,
                     indice text NOT NULL,
                     pais text NOT NULL);
     """)
    
    rows = [line.rstrip().split(';') for line in file.readlines()[1:]] # [[x,x,x], [x,x,x]]
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute('insert into ' + table + ' values ' + recstr)

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()

def load3(curs: sqlite3.Cursor, table, datafile, conn=None, verbose=True):
    
    file = open(datafile) # x,x,x\nx,x,x\n

    curs.execute(f"""CREATE TABLE {table} (
                     id integer PRIMARY KEY,
                     tkr text NOT NULL,
                     fecha text NOT NULL,
                     precio real NOT NULL,
                     low real NOT NULL,
                     high real NOT NULL);
     """)
    column_names = str(tuple(file.readline().rstrip().split(';')))
    rows = [line.rstrip().split(';') for line in file.readlines()] # [[x,x,x], [x,x,x]]

    for row in rows: 
        row[1] = row[1].split(" ")[0]
    
    for rec in rows:#Los números con decimales se marcan con punto en vez de coma (si no sql no lo entiende bien)
        rec[2] = rec[2].replace(',', '.')
        rec[3] = rec[3].replace(',', '.')
        rec[4] = rec[4].replace(',', '.')
    
    rows = [str(tuple(rec)) for rec in rows] # ["(x,x,x)", "(x,x,x)"]
    
    for recstr in rows[1:]:
        curs.execute(f'insert into {table}{column_names} values {recstr}')
        #print(f'insert into {table}{column_names} values {recstr}')    #Para debug

    if conn: conn.commit()
    if verbose: print (f"Creada tabla {table}: {len(rows)} filas cargadas")
    file.close()

# crea la base de datos si no existe ya
if os.path.exists("./db.sqlite3"):
    conn, curs = login("db.sqlite3")
    print("La base de datos ya existía.")
else:
    conn, curs = login("db.sqlite3")
    load1(curs, "IBEX35", "Tabla2(IBEX35).csv", conn)
    load1(curs, "DAX30", "./Tabla3(DAX 30).csv", conn)
    load1(curs, "Nasdaq100", "./Tabla4(Nasdaq 100).csv", conn)
    load1(curs, "FtseMib", "./Tabla5(Ftse Mib).csv", conn)

    load2(curs, "Datos", "./Tabla1.csv", conn)

    load3(curs, "SemanalesIBEX35", "./Tabla6(SemanalesIBEX35).csv", conn)

La base de datos ya existía.

In [12]:
def logout(conn, curs): #Cierra la base de datos, haciendo antes un commit
    curs.close()
    conn.commit()
    conn.close()

logout(conn, curs)

In [13]:
# Consulta 1
# Considerar la máxima diferencia entre el valor máximo y el valor mínimo de las acciones de todos los índices.
# Mostrar el nombre de la/s acción/es cuya diferencia alcanza ese valor, el nombre del índice al que pertenece 
# y el valor de la diferencia tomada.

conn, curs = login("db.sqlite3")

consulta1 = """ SELECT  tkr, indice, MAX(max_v-min_v) FROM
                    Datos JOIN
                        (SELECT tkr AS indices_tkr, max_v, min_v FROM 
                            (SELECT * FROM DAX30 
                            UNION SELECT * FROM FtseMib 
                            UNION SELECT * FROM IBEX35 
                            UNION SELECT * FROM Nasdaq100))
                    ON Datos.tkr = indices_tkr"""
curs.execute(consulta1)
for nombre, indice, valor in curs.fetchall():
    print (f"Nombre: {nombre}\nÍndice: {indice}\nValor: {valor}\n")

logout(conn, curs)

Nombre: INTU
Índice: Nasdaq 100
Valor: 412.65

In [14]:
# Consulta 2
# Obtener la suma de los volúmenes negociados agregados por el índice al que pertenecen y ordenados de mayor a menor. 
# Se mostrará el nombre del índice, el país al que pertenece y la suma de los volúmenes del índice.
conn, curs = login("db.sqlite3")

consulta2 = """ SELECT indice, pais, SUM(vol) AS suma FROM 
                    (SELECT * FROM Datos JOIN
                        (SELECT tkr AS indices_tkr, * FROM 
                            (SELECT * FROM DAX30 
                            UNION SELECT * FROM FtseMib 
                            UNION SELECT * FROM IBEX35 
                            UNION SELECT * FROM Nasdaq100))
                    ON Datos.tkr = indices_tkr)
                GROUP BY indice ORDER BY suma"""
curs.execute(consulta2)
for indice, pais, suma in curs.fetchall():
    print (f"Índice: {indice}\nPaís: {pais}\nSuma de los volúmenes: {suma}\n")

#Nota: la tabla 3 (DAX30) contiene probablemente por error valores del IBEX 35

logout(conn, curs)

Índice: IBEX 35
País: EspaÃ±a
Suma de los volúmenes: 185598636

Índice: Ftse Mib
País: Italia
Suma de los volúmenes: 390082923

Índice: Nasdaq 100
País: USA
Suma de los volúmenes: 835355501

In [15]:
# Consulta 3
# Obtener aquellas acciones cuyo variación entre el máximo y el mínimo en la jornada del 5 de octubre fue menor 
# que la variación entre el valor low y high en la serie histórica. Mostrar el nombre de la acción y las diferencias.

conn, curs = login("db.sqlite3")
consulta1 = """ SELECT nombre, dif_cinco, dif_sem
                FROM Datos JOIN 
                        (SELECT tkr AS tkr_1, dif_sem, (max_v-min_v) AS dif_cinco
                        FROM IBEX35 JOIN
                                (SELECT tkr AS tkr_2, (high-low) AS dif_sem
                                FROM SemanalesIBEX35 
                                WHERE (fecha = '02/09/2022'))
                            ON tkr_1 = tkr_2
                        WHERE dif_cinco < dif_sem)
                    ON Datos.tkr = tkr_1"""
curs.execute(consulta1)
for nombre, cinco, semana in curs.fetchall():
    print (f"Nombre de la acción: {nombre}\nVariación el cinco de octubre: {cinco}\nVariación semanal (high-low): {semana}\n")

logout(conn, curs)

Nombre de la acción: ACS
Variación el cinco de octubre: 0.33999999999999986
Variación semanal (high-low): 0.7799999999999976

Nombre de la acción: ACERINOX SA
Variación el cinco de octubre: 0.3800000000000008
Variación semanal (high-low): 0.8900000000000006

Nombre de la acción: AENA
Variación el cinco de octubre: 3.0
Variación semanal (high-low): 5.1000000000000085

Nombre de la acción: AMADEUS
Variación el cinco de octubre: 0.9399999999999977
Variación semanal (high-low): 3.799999999999997

Nombre de la acción: CRP ACC ENER RN BR
Variación el cinco de octubre: 1.019999999999996
Variación semanal (high-low): 3.1999999999999957

Nombre de la acción: BANCO DE BILBAO VIZCAYA
Variación el cinco de octubre: 0.11000000000000032
Variación semanal (high-low): 0.20999999999999996

Nombre de la acción: BANKINTER
Variación el cinco de octubre: 0.22000000000000064
Variación semanal (high-low): 0.4299999999999997

Nombre de la acción: CAIXABANK
Variación el cinco de octubre: 0.07000000000000028
Variación semanal (high-low): 0.18999999999999995

Nombre de la acción: CELLNEX TELECOM
Variación el cinco de octubre: 1.6999999999999957
Variación semanal (high-low): 2.219999999999999

Nombre de la acción: INMOBILIARIA COLONIAL
Variación el cinco de octubre: 0.2999999999999998
Variación semanal (high-low): 0.33000000000000007

Nombre de la acción: ENDESA
Variación el cinco de octubre: 0.370000000000001
Variación semanal (high-low): 0.9699999999999989

Nombre de la acción: ENAGAS
Variación el cinco de octubre: 0.5400000000000009
Variación semanal (high-low): 1.370000000000001

Nombre de la acción: FLUIDRA
Variación el cinco de octubre: 0.9400000000000013
Variación semanal (high-low): 1.3000000000000007

Nombre de la acción: FERROVIAL
Variación el cinco de octubre: 0.33000000000000185
Variación semanal (high-low): 1.1999999999999993

Nombre de la acción: GRIFOLS CL.A
Variación el cinco de octubre: 0.5300000000000011
Variación semanal (high-low): 0.7200000000000006

Nombre de la acción: IAG GROUP
Variación el cinco de octubre: 0.039999999999999813
Variación semanal (high-low): 0.050000000000000044

Nombre de la acción: IBERDROLA
Variación el cinco de octubre: 0.17999999999999972
Variación semanal (high-low): 0.5299999999999994

Nombre de la acción: INDRA SISTEMAS
Variación el cinco de octubre: 0.17999999999999972
Variación semanal (high-low): 0.5600000000000005

Nombre de la acción: INDITEX
Variación el cinco de octubre: 0.5
Variación semanal (high-low): 1.740000000000002

Nombre de la acción: MAPFRE
Variación el cinco de octubre: 0.029999999999999805
Variación semanal (high-low): 0.06999999999999984

Nombre de la acción: MERLIN PROPERTIES
Variación el cinco de octubre: 0.39999999999999947
Variación semanal (high-low): 0.5500000000000007

Nombre de la acción: ARCELORMITTAL
Variación el cinco de octubre: 0.75
Variación semanal (high-low): 2.580000000000002

Nombre de la acción: NATURGY ENERGY
Variación el cinco de octubre: 0.5300000000000011
Variación semanal (high-low): 2.2300000000000004

Nombre de la acción: PHARMA MAR
Variación el cinco de octubre: 1.7600000000000051
Variación semanal (high-low): 2.719999999999999

Nombre de la acción: RED ELECTRICA
Variación el cinco de octubre: 0.4300000000000015
Variación semanal (high-low): 1.2800000000000011

Nombre de la acción: REPSOL
Variación el cinco de octubre: 0.6100000000000012
Variación semanal (high-low): 1.0300000000000011

Nombre de la acción: LABORATORIOS FARMACEUTICOS ROV
Variación el cinco de octubre: 1.019999999999996
Variación semanal (high-low): 1.8000000000000043

Nombre de la acción: BANCO DE SABADELL
Variación el cinco de octubre: 0.030000000000000027
Variación semanal (high-low): 0.05999999999999994

Nombre de la acción: BANCO SANTANDER
Variación el cinco de octubre: 0.08000000000000007
Variación semanal (high-low): 0.1499999999999999

Nombre de la acción: SOLARIA ENERGIA Y MEDIO AMBIEN
Variación el cinco de octubre: 0.870000000000001
Variación semanal (high-low): 4.23

In [16]:
# Consulta 4
# Obtener la media de los valores de las acciones de la serie histórica del IBEX35 ordenadas decrecientemente por la media de los valores

conn, curs = login("db.sqlite3")

avg_list = curs.execute("""SELECT nombre, round(AVG(precio), 2) AS Media
                            FROM SemanalesIBEX35 s JOIN Datos d ON s.tkr==d.tkr
                            GROUP BY s.tkr
                            ORDER BY Media DESC;""").fetchall()
print("Media de los valores de las acciones de cada empresa:")
[print(f"{x[0]:>30}: {x[1]} €") for x in avg_list]

logout(conn, curs)

Media de los valores de las acciones de cada empresa:
                       ACCIONA: 173.75 €
                          AENA: 135.57 €
                    PHARMA MAR: 62.54 €
LABORATORIOS FARMACEUTICOS ROV: 60.58 €
                       AMADEUS: 56.9 €
               CELLNEX TELECOM: 43.47 €
            CRP ACC ENER RN BR: 34.24 €
                NATURGY ENERGY: 26.57 €
                 ARCELORMITTAL: 26.39 €
                       FLUIDRA: 25.35 €
                     FERROVIAL: 25.21 €
                       INDITEX: 24.47 €
                           ACS: 23.26 €
                        ENAGAS: 19.75 €
                        ENDESA: 18.98 €
SOLARIA ENERGIA Y MEDIO AMBIEN: 18.89 €
                 RED ELECTRICA: 18.31 €
                SIEMENS GAMESA: 18.27 €
                  GRIFOLS CL.A: 16.16 €
                        REPSOL: 12.19 €
                   ACERINOX SA: 10.32 €
                     IBERDROLA: 10.18 €
             MERLIN PROPERTIES: 9.8 €
                INDRA SISTEMAS: 9.37 €
         INMOBILIARIA COLONIAL: 7.38 €
                  MELIA HOTELS: 6.4 €
                     BANKINTER: 5.18 €
       BANCO DE BILBAO VIZCAYA: 5.04 €
                    TELEFONICA: 4.23 €
                     CAIXABANK: 2.93 €
               BANCO SANTANDER: 2.88 €
            SACYR VALLEHERMOSO: 2.29 €
                        MAPFRE: 1.77 €
                     IAG GROUP: 1.59 €
             BANCO DE SABADELL: 0.7 €

In [17]:
#Consulta 5
#Obtener la acción que más valió y más volumen de títulos negoció en la jornada del 5 de octubre. Mostrar el nombre de la acción, el índice al que pertenece y el país.


conn, curs = login("db.sqlite3")

acc = curs.execute("""WITH tablas AS (
                            SELECT nombre, indice, pais, precio, vol
                            FROM IBEX35 ibx JOIN Datos d ON ibx.tkr = d.tkr
                            UNION
                            SELECT nombre, indice, pais, precio, vol
                            FROM DAX30 dax JOIN Datos d ON dax.tkr = d.tkr
                            UNION
                            SELECT nombre, indice, pais, precio, vol
                            FROM Nasdaq100 nas JOIN Datos d ON nas.tkr = d.tkr
                            UNION
                            SELECT nombre, indice, pais, precio, vol
                            FROM FtseMib ftm JOIN Datos d ON ftm.tkr = d.tkr)
                        
                        SELECT *
                        FROM tablas
                        WHERE precio = (
                            SELECT max(precio)
                            FROM tablas
                        )
                        OR vol = (
                            SELECT max(vol)
                            FROM tablas
                        );""").fetchall()

print(f"Acción más valiosa:\n  Nombre de la acción: {acc[0][0]}\n  Índice: {acc[0][1]}\n  País: {acc[0][2]}\n  Precio: {acc[0][3]}\n  Volúmen de títulos negociados: {acc[0][4]}\n")
print(f"Acción con mayor volumen de títulos negociados:\n  Nombre de la acción: {acc[1][0]}\n  Índice: {acc[1][1]}\n  País: {acc[1][2]}\n  Precio: {acc[1][3]}\n  Volúmen de títulos negociados: {acc[1][4]}\n")

logout(conn, curs)

Acción más valiosa:
  Nombre de la acción: BOOKING HOLDINGS
  Índice: Nasdaq 100
  País: USA
  Precio: 1726.71
  Volúmen de títulos negociados: 350333

Acción con mayor volumen de títulos negociados:
  Nombre de la acción: INTESA SANPAOLO SPA
  Índice: Ftse Mib
  País: Italia
  Precio: 1.74
  Volúmen de títulos negociados: 98458233

In [18]:
# Consulta 6
# Obtener las diferencias de precio entre cada par de acciones en la serie histórica del IBEX35 por fecha. 
# Mostrar el nombre de las accciones, la fecha y la diferencia de valor ordenadas decrecientemente por la fecha.

In [21]:
#Consulta 7
# ¿En que fecha de la serie histórica del IBEX35 hubo más acciones donde la diferencia entre el valor máximo y el precio final fue 0?
# Mostrar los nombres de las acciones y la fecha.
conn, curs = login("db.sqlite3")
consulta1 = """ SELECT nombre, fecha
                FROM Datos JOIN
                    (SELECT tkr AS tkr_elegidos, fecha
                    FROM SemanalesIBEX35 JOIN
                        (SELECT fecha AS fecha_top, MAX(cardinal)
                        FROM 
                            (SELECT fecha, COUNT(fecha) AS cardinal
                            FROM SemanalesIBEX35
                            WHERE high-precio = 0
                            GROUP BY fecha)
                        )
                        ON fecha_top = SemanalesIBEX35.fecha
                    WHERE high-precio = 0
                    )
                    ON Datos.tkr = tkr_elegidos"""
curs.execute(consulta1)
nombre, fecha = curs.fetchone()
print(f"La fecha en la que hubo más acciones cuyo precio máximo y final fue el mismo es {fecha}.")
print(f"Nombres de las acciones:\n -{nombre}")
for nombre, fecha in curs.fetchall():
    print (f" -{nombre}")

logout(conn, curs)

La fecha en la que hubo más acciones cuyo precio máximo y final fue el mismo es 14/01/2022.
Nombres de las acciones:
 -AENA
 -CAIXABANK
 -ENAGAS
 -MAPFRE
 -BANCO SANTANDER